{% extends "patient/base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container mt-4">
        <!-- Card for the form -->
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="text-center">Edit Patient: {{ patient.name }}</h1>

                <!-- Form for editing patient details -->
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>

            </div>
        </div>
    </div>
</main>
{% endblock %}
