{% extends "adminapp/base.html" %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="container mt-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="mb-4">Edit Facility: {{ facility.name }}</h2>

        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          
          <div class="form-group">
            {{ form.as_p }}
          </div>

          <button type="submit" class="btn btn-primary mt-3">Update</button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}
